* {
    margin: 0;
    padding: 10;
    font-family: 'Verdana', sans;
    box-sizing: border-box;
}
.navbar{
    background: #363636;
    padding: 20px;
    padding-left: 100px; 
    font-family: 'Verdana', serif;       
}
.link{
    color: #fff;
    margin: 10px;
    font-size: 20px
}
.link2{
    color: #cf0c0c;
    margin: 10px;
    font-size: 20px
}
.error404{
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1f1f1f;
}
h1{
    color:#141414e3;
}

.mainBox {
    padding-top: 30px;
    margin-left: 30px;
}
